<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">
  Welcome <%= name %>, you have successfully logged in your account. We are
  still working on updates like resetting passwords, verifying users and so on.
  For now, you can use these sample resourses as your boiler plate in your
  future projects.
</p>
<p>Thank you <%= name %> and now you can log out!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
